<app-home></app-home>
<app-carousel></app-carousel>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <div class="card">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">
                    <h5 class="card-title">contact us</h5>
                    <p class="card-text">0909090909098, 0909090909098,ksrtc@gmail.com</p>

                    <a href="#" class="btn btn-primary">contact</a>
                </div>
            </div>
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <table class="table table-borderless">
                <tr>
                    <td>address</td>
                    <td>ksrtc,thruvanathapuram</td>
                </tr>
                <tr>
                    <td>phone</td>
                    <td>9188180890</td>
                </tr>
                <tr>
                    <td>email</td>
                    <td>ksrc@gmail.com</td>

